@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Founders Grotesk X Condensed";
  src: url("../public/Founders_Grotesk/FoundersGroteskCond-Lt.otf");
}

::-webkit-scrollbar {
  width: 0.1px;
}

.Nav__link::after {
  content: "";
  position: relative;
  background: #d9d9d9;
  display: block;
  margin-top: 8px;
  left: 0;
  right: 0;
  bottom: 0;
  height: 0.08em;
  transform: scale(0);
  will-change: transform;
  transition-duration: 0.5s;
  transform-origin: 0% 100%;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.Nav__link:hover::after {
  /* Apply transform scale when hovering */
  transform: scaleX(1);
}
