@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Founders Grotesk X Condensed";
  src: url("../public/Founders_Grotesk/FoundersGroteskCond-Lt.otf");
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  border-radius: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: #cdea68;
  border-radius: 8px;
}
.Nav__link::after {
  content: "";
  position: relative;
  background: #d9d9d9;
  display: block;
  left: 0;
  right: 0;
  bottom: 0;
  height: 0.05em;
  transform: scale(0);
  will-change: transform;
  transition-duration: 0.5s;
  transform-origin: 100% 100%;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.Nav__link:hover::after {
  /* Apply transform scale when hovering */
  transform: scaleX(1);
}
